.signin-avatar {
    text-align: center;
    margin-bottom: 10px;
}

.signin-avatar img {
    width: 64px;
    height: 64px;
}

.avatar-loading-div {
    width: 16px;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
}

#avatar-loading {
    height: 16px;
    width: 16px;

    position: relative;
    top: -40px;

    display: none;
}

#signin-alert {
    display: none;
}
