body {
    background: url("../images/background.png") repeat;
}

.fl { float: left; }
.fr { float: right; }
.cl { clear: both; }

a {
    color: #ff7800;
}

a:hover {
    color: #ff6600;
}

.transparent {
    opacity: .85;
}

.banner {
    background: url("../images/banner.png") top center no-repeat;
    height: 210px;
}

.top70 {
    margin-top: 70px;
}

.navbar-nav .btn-group-xs {
    padding-top: 14px;
    padding-bottom: 14px;
}

.dropdown-menu .active a {
    background: #ff7800;
}

.dropdown-menu .active a:hover {
    background: #ff9000;
}

/** Index */
.somead {
    margin-bottom: 20px;
}

.table .index-discuss-avatar {
    width: 64px;
}

.table .index-discuss-reply-num {
    line-height: 48px;
    text-align: center;
    color: #888;

    width: 70px;
}

.table .index-discuss-title {
    line-height: 48px;
    color: #888;
}

.table .index-discuss-true-title {
    margin-top: 9px;
    line-height: 18px;
}

.table a.index-discuss-belong {
    font-size: 10px;
    line-height: 12px;

    color: #888;
}

.table a.index-discuss-belong:hover {
    text-decoration: none;
}

.mi-nav .nav-pills li.active a {
    background: #ff7800;
}

/** footer */
#footer {
    height: 80px;
    width: 100%;

    margin-top: 150px;

    position: absolute;
}

#footer-bg {
    border-top: 1px solid #333;
    background: #555;

    opacity: .2;

    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 80px;
}

#footer .container {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #555;

    font-size: 10px;

    text-shadow: 0 1px 0 #FFF;
}

#left-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;

    width: 600px;
    height: 375px;
    background: url("../images/left-bottom.png") no-repeat;
}

/** top-right bar */
#top-avatar-bar img {
    margin-top: 8px;
}

.navbar-nav small {
    padding-top: 15px;
    padding-bottom: 15px;

    margin-right: 15px;

    color: #fff;

    display: inline-block;
}