extends ../layout
block content
    div.somead
        img(class="img-rounded img-responsive" src="/images/temp.jpg")

    div(class="well index-discuss")
        table(class="table table-striped table-hover"): tbody
            - for(var i = 0; i < 8; i++) {
            tr
                td.index-discuss-avatar: img.img-circle(src="http://xcoder.in/images/avatar.gif" width="48")
                td.index-discuss-reply-num
                    a(href="#") 70
                    &nbsp;/ 13105
                td.index-discuss-title
                    div(class="index-discuss-true-title fl")
                        a(href="#") 评测机目测挂了
                        br
                        a.index-discuss-belong(href="#") P1000 A + B Problem
                    div.fr 一分钟前
            - }
