<% include ../public/header %>

<script type="text/javascript">
var referer = "<%= referer %>";
</script>
<script type="text/javascript" src="/.js/login.js"></script>
<link rel="stylesheet" type="text/css" href="/css/signin.css" media="screen" />

<div class="well signin">
    <form class="row" role="form">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="signin-avatar">
                <img id="avatar" class="img-circle" src="/images/default-avatar.gif" />
                <br />
                <div class="avatar-loading-div"><img id="avatar-loading" src="/images/loading.gif" /></div>
            </div>

            <div class="form-group">
                <label for="username"><你的用户名咩 /></label>
                <input type="username" class="form-control" id="username" placeholder="噼里啪啦...">
            </div>

            <div class="form-group">
                <label for="password"><你的密码呐 /></label>
                <input type="password" class="form-control" id="password" placeholder="叽里咕噜...">
            </div>

            <div id="signin-alert" class="alert alert-danger"><b>登录信息：</b><span id="alert-content"></span></div>

            <div class="btn-group btn-group-justified">
                <a id="go-pikachu" type="button" data-complete-text="皮卡丘成功出仓..." data-loading-text="精灵球正在出货..." class="btn btn-warning">去吧，皮卡丘！</a>
                <a type="button" class="btn btn-danger">初音未来の消失</a>
            </div>

            <div class="btn-group btn-group-justified" style="margin-top: 10px;">
                <a type="button" class="btn btn-info">和我签订契约，成为魔法码畜吧 ／人◕‿‿◕人＼</a>
            </div>
        </div>
        <div class="col-md-3"></div>
    </form>
</div>

<% include ../public/footer %>
