            </div>
            <div class="col-md-3">
                <div class="well mi-nav">
                    <ul class="nav nav-pills nav-stacked">
                        <h4>迷の导航</h4>
                        <li id="rightnav-home"><a href="/index" title="幻想乡">首页</a></li>
                        <li id="rightnav-problemlist"><a href="/problem/list" title="练习题库">练习题库</a></li>
                        <li id="rightnav-run"><a href="/run" title="运行状态">运行状态</a></li>
                        <li id="rightnav-recent-content"><a href="/recent-content" title="近期比赛">近期比赛</a></li>
                    </ul>
                </div>

                <div class="well weekrank-nav">
                    <ul class="nav nav-pills nav-stacked">
                        <h4>周刷题榜</h4>

                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>XadillaX</td>
                                    <td>5/20</td>
                                </tr>
                                <tr>
                                    <td>Hungar</td>
                                    <td>4/20</td>
                                </tr>
                            </tbody>
                        </table>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <p>实验室 | 帮助 | 联系 | 关于 | 艾麗葉の小屋 | 浙ICP备05074147号-1</p>
            <p>&copy; Copyright NOJ & XadillaX, NOJ V2 build20131231, Process <%= (Date.now() - startTimestamp) / 1000 %>s</p>
        </div>

        <div id="footer-bg"></div>
        <div id="left-bottom"></div>
    </div>
</body>
</html>
